/* ------------------------- FONTS ------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon:XROT,YROT@-45..45,-45..45&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Pixelify+Sans:wght@400..700&display=swap');

/* ------------------------- GENERAL SETTINGS ------------------------- */


*, *::before, *::after{
    box-sizing: border-box;
}

body{
    font-family: "Pixelify Sans", sans-serif;
    font-size: 1rem;
}

/* ------------------------- HEADER SECTION ------------------------- */

header{
    padding: 1.5em 0;
    width: 100%;
}

.nav_container{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

.name_title{
    display: flex;
    align-items: center;
    font-size: 2rem;
}

.name_title:hover{
    transition: 2s ease;
    transform: rotateY(360deg);
    cursor: default;
    scale: 1.5;
}

.nav_list{
    display: flex;
    gap: 1.5em;
}

.nav_item{
    display: flex;
    align-items: center;
    border: 3px solid white;
    padding: 0.75em 1em;
    border-radius: 5em;
    cursor: pointer;
    gap: 0.3em;
}

.nav_item:hover{
    background-color: rgb(197, 197, 216);
    scale: 1.2;
    transition: 0.5s ease;
    background: radial-gradient(#f9ce3457, #ee2a2a63, #6228d769);
    box-shadow: 1px 2px 10px #101010;
}

.nav_item:active{
    scale: 1;
    transition: 0.2s;
}

.nav_item img{
    transition: 0.8s;
}

.nav_item:hover img{
    transform: rotateY(180deg);
}

/* ------------------------- MAIN SECTION ------------------------- */

/* --------------------- SOBRE MI CONTAINER --------------------- */

.sobre_mi_container{
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    padding: 70px 0;
    border: 2px solid red;
    border-radius: 50% 20% / 10% 40%;
    background-color: lightsteelblue;
    margin: 0 auto;   
}

.container{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.row{
    display: flex;
    justify-content: center;
}

.text_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2rem;
    width: 80%;
    margin-right: 2em;
}

.text_container h1{
    font-size: 3rem;
    margin-bottom: 1em;
}

.text_container p strong{
    font-weight: bold;
}

.img_container{
    width: 220px;
}

.img_container img{
    border-radius: 50% 20% / 10% 40%;
}

.logos_container{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 1em;
}

.logos_item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 50%; 
    border: 3px solid white;
    overflow: hidden;
}

.logos_item:nth-child(1):hover{
    background-color: #5c5b5b50;
    scale: 1.2;
    transition: 1s;
    box-shadow: 1px 2px 10px #101010;
}

.logos_item:nth-child(2):hover{
    background-color: #3b83f680;
    scale: 1.2;
    transition: 1s;
    box-shadow: 1px 2px 10px #101010;
    color: white;
}

.logos_item:nth-child(3):hover{
    background: linear-gradient(hsla(47, 94%, 59%, 0.7), hsla(335, 85%, 55%, 0.7), hsla(260, 69%, 50%, 0.7));
    scale: 1.2;
    transition: 1s;
    box-shadow: 1px 2px 10px #101010;
}

.logos_item:nth-child(4):hover{
    background-color: #12860780;
    scale: 1.2;
    transition: 1s;
    box-shadow: 1px 2px 10px #101010;
}

.logos_item img{
    width: 45px;
    transition: 0.8s;
}

.logos_item img:hover{
    transform: rotateY(360deg);
}

.logos_item:active{
    scale: 1;
}

/* ------------------------- SKILLS CONTAINER ------------------------- */

.skills_container{
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    border: 2px solid red;
    border-radius: 10% 40% / 50% 20%;
    background-color: lightsteelblue;
    margin: 0 auto;
    margin-top: 2em;
}

.texts_skills_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    width: 80%;
}

.texts_skills_container h2{
    margin-bottom: 1em;
}

.skills_container_list{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */
}

.skills_item{
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills_item img{
    width: auto;
    height: 100px;
    transition: 1s;
}

.skills_item:nth-child(1) img:hover{
    transform: rotateY(360deg);
    filter: invert(36%) sepia(86%) saturate(1110%) hue-rotate(342deg) brightness(91%) contrast(96%);
}

.skills_item:nth-child(2) img:hover{
    transform: rotateY(360deg);
    filter: invert(88%) sepia(78%) saturate(771%) hue-rotate(339deg) brightness(100%) contrast(94%);
}

.skills_item:nth-child(3) img:hover{
    transform: rotateY(360deg);
    filter: invert(31%) sepia(91%) saturate(6008%) hue-rotate(229deg) brightness(93%) contrast(92%);
}

/* ------------------------- HOBBIES CONTAINER ------------------------- */

.hobbies_container{
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    border: 2px solid red;
    border-radius: 10% 40% / 50% 20%;
    background-color: lightsteelblue;
    margin: 0 auto;
    margin-top: 2em;
}

.texts_hobbies_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    width: 80%;
}

.texts_hobbies_container h2{
    margin-bottom: 1em;
}

.hobbies_container_list{
    display: flex;
    height: 150px;
    justify-content: space-between;
}

.hobbies_item{
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.hobbies_item img{
    width: auto;
    height: 60px;
    margin-bottom: 0.5em;
    transition: 1s;
}

.hobbies_item:nth-child(1) img:hover{
    transform: rotateZ(360deg);
    transform-origin: top bottom;
}

.hobbies_item:nth-child(2) img:hover{
    transform: scale(1.4);
}

.hobbies_item:nth-child(3) img:hover{
    transform: rotate(-45deg);
}

.hobbies_item:nth-child(4) img:hover{
    transform: rotateY(180deg);
}

.hobbies_item:nth-child(5) img:hover{
    transform: rotateX(180deg);
    transform-origin: top bottom;
}

/* ------------------------- ACADEMIC CONTAINER ------------------------- */

.academic_container{
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    border: 2px solid red;
    border-radius: 10% 40% / 50% 20%;
    background-color: lightsteelblue;
    margin: 0 auto;
    margin-top: 2em;
}

.text_academic_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    width: 80%;
}

.text_academic_container h2{
    margin-bottom: 1em;
}

.academic_container_list{
    display: flex;
    /* height: 200px; */
    justify-content: space-around;
    align-items: center;
}

.academic_item{
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.academic_item img{
    width: auto;
    height: 180px;
    border-radius: 10% 40% / 50% 20%;
    margin: 1em 0;
}

.academic_item:nth-child(2) img{
    height: 50px;
    transform: rotate(90deg);
}

/* .academic_item:nth-child(4) img{
    height: 50px;
    transform: rotate(90deg);
} */

/* ------------------------- EXPERIENCE CONTAINER ------------------------- */

.experience_container{
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    border: 2px solid red;
    /* border-radius: 10% 40% / 50% 20%; */
    background-color: lightsteelblue;
    margin: 0 auto;
    margin-top: 2em;
}

.text_experience_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* text-align: center; */
    font-size: 2rem;
    width: 80%;
}

.text_experience_container h2{
    text-align: center;
    margin-bottom: 2em;
}

.experience_container_list{
    display: flex;
    flex-direction: column;
    /* height: 200px; */
    /* justify-content: space-around; */
    margin-bottom: 1.5em;
    margin-top: 1em;
    align-items: center;
}

.experience_item{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    /* width: 70%; */
}

.experience_item_container{
    display: flex;
    flex-direction: column;
}

.experience_item_title{
    font-weight: bold;
    margin-bottom: 1em;
}

.experience_item_title::before{
    content: "★ ";
}


.experience_item_container p{
    font-size: 1.2rem;
}

.experience_item_container p:nth-child(2){
    margin-bottom: 1em;
}

.experience_item_container p img{
    margin: 0.8em 0.8em;
    width: auto;
    height: 70px;
}

.experience_item_container p img:nth-child(2){
    filter: invert(36%) sepia(86%) saturate(1110%) hue-rotate(342deg) brightness(91%) contrast(96%);
}

.experience_item_container p img:nth-child(3){
    filter: invert(31%) sepia(91%) saturate(6008%) hue-rotate(229deg) brightness(93%) contrast(92%);
}

.experience_item_container p img:nth-child(4){
    filter: invert(88%) sepia(78%) saturate(771%) hue-rotate(339deg) brightness(100%) contrast(94%);
}

.experience_item img:nth-child(1){
    border-radius: 50% 20% / 10% 40%;
    width: auto;
    height: 400px;
    margin-right: 1em;
}

.btn_github{
    font-size: 1.2rem;
    width: 160px;
    border: 3px solid white;
    padding: 0.75em 1em;
    border-radius: 5em;
    cursor: pointer;
    box-shadow: 1px 2px 10px #101010;
}

.btn_github:hover{
    background-color: rgb(197, 197, 216);
    scale: 1.2;
    transition: 0.5s ease;
    background: radial-gradient(#f9ce3457, #ee2a2a63, #6228d769);
}

.btn_github:active{
    scale: 1;
    transition: 0.2s;
}

.btn_demo{
    text-align: center;
    font-size: 1.2rem;
    width: 160px;;
    border: 3px solid white;
    padding: 0.75em 1em;
    border-radius: 5em;
    cursor: pointer;
    box-shadow: 1px 2px 10px #101010;
    margin-top: 1em;
}

.btn_demo:hover{
    background-color: rgb(197, 197, 216);
    scale: 1.2;
    transition: 0.5s ease;
    background: radial-gradient(#f9ce3457, #ee2a2a63, #6228d769);
}

.arrow_direction{
    margin: 0 auto;
    width: 8%;
    /* height: 50px; */
    transform: rotate(180deg);
}

.contact_section{
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    border: 2px solid red;
    background-color: lightsteelblue;
    margin: 0 auto;
    margin-top: 2em;
}

.contact_container_title{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1em;
}

.info_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 2px 22px #101010;
    border-radius: 5%;
    width: 40%;
    height: 500px;
    text-align: center;
    margin-right: 2em;
}

.info_container h3{
    font-size: 1.5rem;
    margin-bottom: 0.5em;
}

.contact_img{
    box-shadow: 1px 2px 22px #101010;
    border-radius: 100%;
    width: auto;
    height: 200px;
    margin-bottom: 2em;
}

.contact{
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    margin-top: 1em;
}

.contact_item_container{
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
}

.contact_item_container img{
    width: auto;
    height: 40px;
    margin-right: 1em;
}

.form_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 500px;
    text-align: center;
}

.form_container_texts{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;   
}

.form_container_texts label{
    font-size: 1.1rem;
    text-align: left;
}

.input_padron{
    margin: 0 auto;
    margin-bottom: 1em;
    margin-top: 0.5em;
    width: 100%;
    padding: 10px 25px;
    border: 1px solid black;
    border-radius: 20px;
    border-top-width: 5px;
    box-shadow: 1px 2px 10px #101010;
}

#mensaje{
    resize: none;
}

.enviarFormulario {
    width: 50%;
    padding: 15px 0;
    font-size: 1.1rem;
    font-weight: bold;
    color: black;
    background: none;
    border: 2px solid black;
    border-radius: 20px;
    border-top-width: 10px;
    border-color: black;
    cursor: pointer;
}